<launch>
    <arg name="INPUT_IMAGE" default="/kinova_wrist_camera/color/image_raw"/>
    <arg name="INPUT_CAMERA_INFO" default="/kinova_wrist_camera/color/camera_info"/>

    <node
        pkg="imagesift"
        type="imagesift"
        name="door_detection_imagesift"
        output="screen"
        >
        <remap from="/image" to="$(arg INPUT_IMAGE)"/>
        <remap from="/camera_info" to="$(arg INPUT_CAMERA_INFO)"/>
        <remap from="/Feature0D" to="/door_detection/Feature0D" />
        <remap from="/ImageFeature0D" to="/door_detection/ImageFeature0D" />

        <param name="~image_transport" value="raw" />
    </node>

    <node
        pkg="jsk_perception"
        type="point_pose_extractor"
        name="door_detection_point_pose_extractor"
        output="screen"
        >
        <remap from="/ImageFeature0D" to="/door_detection/ImageFeature0D" />
        <remap from="/ObjectDetection" to="/door_detection/ObjectDetection" />
        <remap from="/ObjectDetection_agg" to="/door_detection/ObjectDetection_agg" />
        <remap from="/object_pose" to="/door_detection/object_pose" />
        <rosparam subst_value="true">
            template_filename: $(find spot_basic_behaviors)/resources/stop.jpg
            object_width: 0.159
            object_height: 0.159
            reprojection_threshold: 1.0
            distanceratio_threshold: 0.8
            error_threshold: 1000.0
            viewer_window: false
            window_name: door_knob_marker
            broadcast_tf: true
            child_frame_id: door_knob_marker_frame
        </rosparam>
    </node>

    <node
        pkg="rostopic"
        type="rostopic"
        name="door_detection_dummy_subscriber"
        output="log"
        args="echo /door_detection/ObjectDetection"
        >
    </node>

    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="door_detection_handle_frame_publisher"
        args="-0.1 0.05 0.06 0 3.141592 0 door_knob_marker_frame door_knob_frame_raw"
        >
    </node>

    <node
        pkg="tf_relay"
        type="tf_relay"
        name="door_detection_door_knob_tf_relay"
        >
        <rosparam>
            max_duration: 5.0
            timeout_duration: 0.05
            timer_duration: 0.1
            reference_frame_id: door_knob_frame_raw
            output_frame_id: door_knob_frame
            fixed_frame_id: odom
        </rosparam>
    </node>

</launch>
