<launch>
  <param name="robot/type" value="go1" />
  <param name="robot/name" value="robot" />

  <arg name="joy_name_space" default="/go1/" />
  <arg name="network" default="wifi" /> <!-- wifi or ethernet -->

  <arg name="use_d435_top" default="false" />
  <arg name="launch_app_manager" default="true" />

  <!-- node to convert ROS to Unitree's internal udp services -->
  <node pkg="unitree_legged_real" type="ros_server" name="node_ros_server"
        respawn="false" output="log" >
    <remap from="/cmd_vel" to="$(arg joy_name_space)/cmd_vel" />
    <rosparam subst_value="true" if="$(eval arg('network') == 'wifi')">
        target_ip: 192.168.12.1
    </rosparam>
    <rosparam subst_value="true" if="$(eval arg('network') == 'ethernet')">
        target_ip: 192.168.123.161
    </rosparam>
  </node>

  <!-- node to convert quadruped_joystick_teleop service to ros_server HighCmd topics -->
  <node pkg="jsk_unitree_startup" type="unitree_service.py"
        name="unitree_service" output="log"
        ns="$(arg joy_name_space)" />
  <node pkg="jsk_unitree_startup" type="human_pose_publisher.py"
        name="human_pose_publisher" output="log" />
  <!--
  <node pkg="jsk_unitree_startup" type="unitree_state_publisher.py"
        name="unitree_state_publisher" output="screen"
        ns="$(arg joy_name_space)">
      <rosparam>
          base_frame_id: base
      </rosparam>
  </node>
  -->

  <!-- Robot State -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find jsk_unitree_description)/xacro/jsk_go1.xacro'"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

  <!-- smooth cmd vel interface -->
  <!--
  <node pkg="nodelet" type="nodelet" name="yocs_velocity_smoother"
        args="standalone yocs_velocity_smoother/VelocitySmootherNodelet">
    <rosparam>
        speed_lim_v: 2.0
        speed_lim_w: 5.0
        accel_lim_v: 1.0
        accel_lim_w: 2.5
        frequency: 20.0
        decel_factor: 1.0
        robot_feedback: 1
    </rosparam>
    <remap from="~raw_cmd_vel"    to="/cmd_vel"/>
    <remap from="~smooth_cmd_vel" to="/go1/cmd_vel"/>
    <remap from="~robot_cmd_vel"  to="/go1/cmd_vel"/>
    <remap from="~odometry"       to="/odom"/>
  </node>
  -->

  <!-- d435_top -->
  <group if="$(arg use_d435_top)">

    <!-- realsense d435 -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="d435_top" />
        <arg name="depth_width" value="640" />
        <arg name="depth_height" value="480" />
        <arg name="depth_fps" value="30" />
        <arg name="color_width" value="640" />
        <arg name="color_height" value="480" />
        <arg name="color_fps" value="30" />
        <arg name="enable_pointcloud" value="true"/>
        <arg name="allow_no_texture_points"   value="true"/>
        <arg name="ordered_pc"                value="true"/>
    </include>

    <!-- realsense t265 -->
    <include file="$(find realsense2_camera)/launch/rs_t265.launch">
        <arg name="camera" value="t265" />
    </include>
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_static_transform_publisher" args="0 0 0.6 0 0 0 odom t265_odom_frame" />

    <!-- laser -->
    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
      <param name="port" value="/dev/ttyUSB0"/>
      <param name="frame_id" value="laser"/>
    </node>
  </group>

  <include file="$(find jsk_robot_startup)/launch/quadruped_joystick_teleop.launch" >
      <arg name="pad_type" value="dualsense" />
      <arg name="cmd_vel_topic" value="/go1/cmd_vel" />
  </include>

  <include
      file="$(find app_manager)/launch/app_manager.launch"
      if="$(arg launch_app_manager)"/>

  <!-- let people to know unitree is bringup -->
  <node pkg="jsk_unitree_startup" type="wakeup.l"
        name="wakeup" output="log" />
</launch>
