<launch>
    <arg name="INPUT_IMAGE" default="/dual_fisheye_to_panorama/quater/output"/>
    <arg name="INPUT_PANORAMA_INFO" default="/dual_fisheye_to_panorama/panorama_info"/>
    <arg name="device_id" default="0" />

    <include file="$(find coral_usb)/launch/edgetpu_panorama_object_detector.launch">
        <arg name="INPUT_IMAGE" value="$(arg INPUT_IMAGE)" />
        <arg name="device_id" value="$(arg device_id)" />
    </include>

    <rosparam ns="edgetpu_panorama_object_detector">
        score_thresh: 0.5
    </rosparam>

    <node
        pkg="jsk_perception"
        type="rect_array_in_panorama_to_bounding_box_array.py"
        name="panorama_object_detector_rect_array_in_panorama_to_bounding_box_array"
        >
        <remap from="~panorama_image" to="/dual_fisheye_to_panorama/quater/output" />
        <remap from="~panorama_info" to="/dual_fisheye_to_panorama/panorama_info" />
        <remap from="~input_class" to="/edgetpu_panorama_object_detector/output/class" />
        <remap from="~input_rects" to="/edgetpu_panorama_object_detector/output/rects" />

        <rosparam subst_value="true">
            frame_fixed: odom
            dimensions_labels:
                person: [0.5, 0.5, 1.5]
        </rosparam>
    </node>

    <!-- motpy_bbox_tracker -->
    <node
        pkg="jsk_perception"
        type="motpy_bbox_tracker_node.py"
        name="panorama_object_detector_motpy_bbox_tracker_node"
        output="screen"
        >
        <remap from="~input" to="/panorama_object_detector_rect_array_in_panorama_to_bounding_box_array/bbox_array" />
        <rosparam subst_value="true">
            dt: 0.2
            target_labels:
              - person
              - bicycle
              - car
            label_names: $(find jsk_perception)/config/coco_labelnames.yaml
            approximate_sync: True
            slop: 0.1
        </rosparam>
    </node>

    <node
        pkg="jsk_fetch_startup"
        type="track_single_person_node.py"
        name="panorama_object_detector_track_single_person_node"
        output="screen"
        >
        <remap from="~bbox_array" to="/panorama_object_detector_motpy_bbox_tracker_node/output/bbox_array" />
        <remap from="~obj_array" to="/panorama_object_detector_motpy_bbox_tracker_node/output/obj_array" />
        <remap from="~clicked_point" to="/clicked_point" />

        <rosparam subst_value="true">
            target_track_duration: 3.0
        </rosparam>
    </node>
</launch>
