[Unit]
Requires=roscore.service
PartOf=roscore.service
After=magni-base.service
[Service]
Type=simple
User=ubuntu
ExecStart=/usr/sbin/jsk-magni-startup
[Install]
WantedBy=multi-user.target
