<launch>
    <arg name="rosbag" doc="rosbag file path" />
    <arg name="rosbag_option" default="-b 0 --split --size=1024 --lz4" />
    <arg name="additional_topics" default="" doc="additional topics to record" />

    <arg name="record_as_points" default="true" />
    <arg name="camera_topics" if="$(arg record_as_points)"
        default="
        /spot/camera/hand_depth_in_hand_color_frame/points/throttled
        /spot/depth/points/throttled
        " />
    <arg name="camera_topics" unless="$(arg record_as_points)"
        default="
        /spot/camera/back/image/compressed
        /spot/camera/back/camera_info
        /spot/camera/frontleft/image/compressed
        /spot/camera/frontleft/camera_info
        /spot/camera/frontright/image/compressed
        /spot/camera/frontright/camera_info
        /spot/camera/left/image/compressed
        /spot/camera/left/camera_info
        /spot/camera/right/image/compressed
        /spot/camera/right/camera_info
        /spot/depth_registered/back/image/zdepth
        /spot/depth_registered/back/camera_info
        /spot/depth_registered/frontleft/image/zdepth
        /spot/depth_registered/frontleft/camera_info
        /spot/depth_registered/frontright/image/zdepth
        /spot/depth_registered/frontright/camera_info
        /spot/depth_registered/left/image/zdepth
        /spot/depth_registered/left/camera_info
        /spot/depth_registered/right/image/zdepth
        /spot/depth_registered/right/camera_info
        /spot/camera/hand_color/image/compressed
        /spot/camera/hand_color/camera_info
        /spot/camera/hand_depth_in_hand_color_frame/image/zdepth
        /spot/camera/hand_depth_in_hand_color_frame/camera_info
        " />

    <group if="$(arg record_as_points)" >
        <include file="$(find jsk_spot_startup)/launch/generate_point_cloud.launch" />

        <node
            pkg="jsk_topic_tools"
            type="lightweight_throttle"
            name="hand_points_throttler"
            output="screen"
        >
            <remap from="~input" to="/spot/camera/hand_depth_in_hand_color_frame/points" />
            <remap from="~output" to="/spot/camera/hand_depth_in_hand_color_frame/points/throttled" />
            <param name="update_rate" value="0.5" />
        </node>

        <node
            pkg="jsk_topic_tools"
            type="lightweight_throttle"
            name="depth_points_throttler"
            output="screen"
        >
            <remap from="~input" to="/spot/depth/points" />
            <remap from="~output" to="/spot/depth/points/throttled" />
            <param name="update_rate" value="0.5" />
        </node>
    </group>

    <group unless="$(arg record_as_points)" >
        <include file="$(find jsk_spot_startup)/launch/include/compression.launch"/>
    </group>

    <node
        pkg="jsk_topic_tools"
        type="lightweight_throttle"
        name="lidar_points_throttler"
        output="screen"
    >
        <remap from="~input" to="/spot/lidar/points" />
        <remap from="~output" to="/spot/lidar/points/throttled" />
        <param name="update_rate" value="0.5" />
    </node>

    <!-- rosbag recording with compressed images -->
    <node name="rosbag_record" pkg="rosbag" type="record"
        args="-o $(arg rosbag) $(arg rosbag_option)
            /rosout
            /rosout_agg
            /diagnostics
            /tf
            /tf_static
            /dual_fisheye_to_panorama/output/compressed
            /spot/body_pose
            /spot/cmd_vel
            $(arg camera_topics)
            /spot/lidar/points/throttled
            /spot/navigate_to/cancel
            /spot/navigate_to/feedback
            /spot/navigate_to/goal
            /spot/navigate_to/result
            /spot/navigate_to/status
            /spot/odometry
            /spot/odometry/twist
            /spot/status/battery_states
            /spot/status/behavior_faults
            /spot/status/estop
            /spot/status/feedback
            /spot/status/feet
            /spot/status/leases
            /spot/status/manipulator_state
            /spot/status/metrics
            /spot/status/power_state
            /spot/status/system_faults
            /spot/status/wifi
            /spot/trajectory/cancel
            /spot/trajectory/feedback
            /spot/trajectory/goal
            /spot/trajectory/result
            /spot/trajectory/status
            /audio
            /bluetooth_teleop/cmd_vel
            /develop_input/cmd_vel
            /is_speeching
            /joint_states
            /joy_head/cmd_vel
            /laptop_charge
            /robotsound
            /robotsound/cancel
            /robotsound/feedback
            /robotsound/goal
            /robotsound/result
            /robotsound/status
            /robotsound_jp    
            /robotsound_jp/cancel
            /robotsound_jp/feedback
            /robotsound_jp/goal
            /robotsound_jp/result
            /robotsound_jp/status
            /sound_direction
            /sound_localization
            /speech_audio
            /speech_to_text_jp
            /speech_to_text
            /spot_teleop/joy
            /spot_recognition/bbox_array
            /spot_recognition/class
            /spot_recognition/rects
            /ublox/fix
            /ublox/fix_velocity
            /smart_device_protocol/recv
            /smart_device_protocol/send
            /smart_device_protocol/uwb
            /spot/tracked_world_objects
            /spot/tracked_world_objects_detection
            $(arg additional_topics)
            "
        output="screen" />

</launch>
