<launch>
    <arg name="rosbag" doc="rosbag file path" />
    <arg name="use_compress" default="true" />

    <!-- rosbag recording with compressed images -->
    <node name="rosbag_record" pkg="rosbag" type="record" if="$(arg use_compress)"
        args="-o $(arg rosbag) -b 0
            /rosout
            /rosout_agg
            /diagnostics
            /tf
            /tf_static
            /dual_fisheye_to_panorama/output/compressed
            /spot/body_pose
            /spot/camera/back/camera_info
            /spot/camera/back/image/compressed
            /spot/camera/frontleft/camera_info
            /spot/camera/frontleft/image/compressed
            /spot/camera/frontright/camera_info
            /spot/camera/frontright/image/compressed
            /spot/camera/left/camera_info
            /spot/camera/left/image/compressed
            /spot/camera/right/camera_info
            /spot/camera/right/image/compressed
            /spot/cmd_vel
            /spot/depth_registered/back/camera_info
            /spot/depth_registered/back/image/compressedDepth
            /spot/depth_registered/frontleft/camera_info
            /spot/depth_registered/frontleft/image/compressedDepth
            /spot/depth_registered/frontright/camera_info
            /spot/depth_registered/frontright/image/compressedDepth
            /spot/depth_registered/left/camera_info
            /spot/depth_registered/left/image/compressedDepth
            /spot/depth_registered/right/camera_info
            /spot/depth_registered/right/image/compressedDepth
            /spot/camera/hand_color/camera_info
            /spot/camera/hand_color/image/compressed
            /spot/camera/hand_depth_in_hand_color_frame/camera_info
            /spot/camera/hand_depth_in_hand_color_frame/image/compressedDepth
            /spot/navigate_to/cancel
            /spot/navigate_to/feedback
            /spot/navigate_to/goal
            /spot/navigate_to/result
            /spot/navigate_to/status
            /spot/odometry
            /spot/odometry/twist
            /spot/status/battery_states
            /spot/status/behavior_faults
            /spot/status/estop
            /spot/status/feedback
            /spot/status/feet
            /spot/status/leases
	    /spot/status/manipulator_state
            /spot/status/metrics
            /spot/status/power_state
            /spot/status/system_faults
            /spot/status/wifi
            /spot/trajectory/cancel
            /spot/trajectory/feedback
            /spot/trajectory/goal
            /spot/trajectory/result
            /spot/trajectory/status
            /audio
            /bluetooth_teleop/cmd_vel
            /develop_input/cmd_vel
            /is_speeching
            /joint_states
            /joy_head/cmd_vel
            /laptop_charge
            /robotsound
            /robotsound/cancel
            /robotsound/feedback
            /robotsound/goal
            /robotsound/result
            /robotsound/status
            /robotsound_jp
            /robotsound_jp/cancel
            /robotsound_jp/feedback
            /robotsound_jp/goal
            /robotsound_jp/result
            /robotsound_jp/status
            /sound_direction
            /sound_localization
            /speech_audio
            /speech_to_text_jp
            /speech_to_text
            /spot_teleop/joy
            /spot_recognition/bbox_array
            /spot_recognition/class
            /spot_recognition/rects
            /spot_recognition/object_detection_image/compressed
            /spot_recognition/tracking_labels
            /ublox/fix
            /ublox/fix_velocity
            /smart_device_protocol/recv
            /smart_device_protocol/send
            /smart_device_protocol/uwb
            "
        output="screen" />

    <group if="$(arg use_compress)">
      <include file="$(find jsk_spot_startup)/launch/include/compression.launch"/>
    </group>

</launch>
