<launch>
    <arg name="frame_id_fixed" default="vision" />
    <node
        pkg="uwb_localization"
        type="device_localization_node.py"
        name="device_localization_node"
        output="screen"
        >
        <remap from="markers_history" to="markers_history_2" />
        <remap from="markers_devices" to="markers_devices_2" />
        <rosparam subst_value="true">
            frame_id_fixed: $(arg frame_id_fixed)
            frame_id_uwb_tag: insta360_link
            history_timeout: 600
            thershold_num_history: 4
            threshold_hessian_eigen: 0.001
            threshold_postion_distance: 0.3
            range_distance_min: 0.1
            range_distance_max: 30.0
        </rosparam>
    </node>
</launch>
