<launch>
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon back_camera_decompress)"
        args="compressed in:=/spot/camera/back/image raw out:=/spot/camera/back/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon frontleft_camera_decompress)"
        args="compressed in:=/spot/camera/frontleft/image raw out:=/spot/camera/frontleft/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon frontright_camera_decompress)"
        args="compressed in:=/spot/camera/frontright/image raw out:=/spot/camera/frontright/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon left_camera_decompress)"
        args="compressed in:=/spot/camera/left/image raw out:=/spot/camera/left/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon right_camera_decompress)"
        args="compressed in:=/spot/camera/right/image raw out:=/spot/camera/right/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon back_depth_registered_decompress)"
        args="zdepth in:=/spot/depth_registered/back/image raw out:=/spot/depth_registered/back/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon frontleft_depth_registered_decompress)"
        args="zdepth in:=/spot/depth_registered/frontleft/image raw out:=/spot/depth_registered/frontleft/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon frontright_depth_registered_decompress)"
        args="zdepth in:=/spot/depth_registered/frontright/image raw out:=/spot/depth_registered/frontright/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon left_depth_registered_decompress)"
        args="zdepth in:=/spot/depth_registered/left/image raw out:=/spot/depth_registered/left/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon right_depth_registered_decompress)"
        args="zdepth in:=/spot/depth_registered/right/image raw out:=/spot/depth_registered/right/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon hand_color_decompress)"
        args="compressed in:=/spot/camera/hand_color/image raw out:=/spot/camera/hand_color/image"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon hand_depth_in_hand_color_frame_decompress)"
        args="zdepth in:=/spot/camera/hand_depth_in_hand_color_frame/image raw out:=/spot/camera/hand_depth_in_hand_color_frame/image"
        />
    <!-- Image decompression nodes for Insta 360 Air camera -->
    <node
        pkg="topic_tools"
        type="relay"
        name="$(anon panorana_info_decompress_relay)"
        args="/spot_panorama/panorama_info /dual_fisheye_to_panorama/panorama_info"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="$(anon panorama_decompress_internal_node)"
        args="compressed out:=/spot_panorama/panorama_image raw in:=/dual_fisheye_to_panorama/output "
        />
</launch>
