<launch>
  <arg name="spot_credentials_json" default="$(find spot_driver)/auth/spot_credentials.json" />
  <arg name="openai_credentials_json" default="/var/lib/robot/credentials/openai_credentials.json" />
  <arg name="google_credentials_json" default="/var/lib/robot/credentials/belka-xc9u-244cc72fdda0.json" />
  <arg name="gdrive_credentials_yaml" default="/var/lib/robot/credentials/pydrive_settings.yaml" />

  <include file="$(find jsk_robot_startup)/launch/lifelog.launch" >
    <arg name="logger_save_action" value="false" />
    <arg name="logger_save_smach" value="false" />
    <arg name="logger_save_faces" value="false" />
    <arg name="logger_save_dialogflow" value="false" />
    <arg name="logger_save_google_chat" value="false" />
    <arg name="logger_save_video_to_scene" value="false" /> <!-- to reduce CPU load we use /spot_driver/trigger -->
    <arg name="image" value="/dual_fisheye_to_panorama/output" />
  </include>
  <!-- republish compressed/throttled image data only when /publish_trigger_mongodb_event is published -->
  <!-- relay /spot_driver/trigger -> /publish_trigger_mongodb_event to store /usb_cam/image_raw-->
  <node name="relay_spot_trigger_to_mongodb_trigger"
	pkg="topic_tools" type="relay"
        args="/spot/status/trigger /publish_trigger_mongodb_event" />
  <!-- debug code  for abo without /hungy_status -->
  <!-- <node name="relay_spot_trigger_to_mongodb_trigger_debug" -->
  <!-- 	pkg="topic_tools" type="transform" -->
  <!-- 	args="/spot_driver/trigger /publish_trigger_mongodb_event spot_driver/StringStatus 'spot_driver.msg.StringStatus(header=std_msgs.msg.Header(stamp=rospy.Time.now()))' -\-import std_msgs spot_driver rospy" /> -->

  <!-- spot data -->
  <node name="spot_driver_logger"
        pkg="jsk_robot_startup" type="mongo_record.py"
        respawn="true">
    <rosparam subst_value="true">
      topics:
      - /spot/status/manipulator_state/throttled
      - /spot/status/feedback/throttled
    </rosparam>
  </node>

  <node name="spot_staus_synchronize_republish"
        pkg="jsk_topic_tools" type="synchronize_republish.py">
    <rosparam>
      approximate_sync: true
      allow_headerless: true
      topics:
        - /spot/status/manipulator_state
        - /spot/status/feedback
        - /spot/status/trigger
    </rosparam>
    <remap from="~pub_00" to="/spot/status/manipulator_state/throttled" />
    <remap from="~pub_01" to="/spot/status/feedback/throttled" />
    <remap from="~pub_02" to="/spot/status/trigger/throttled" />
  </node>

  <!-- Publish /spot/status/trigger once at 5 minutes -->
  <node
      pkg="rostopic"
      type="rostopic"
      name="spot_status_trigger_publisher"
      args="pub -r 0.003 /spot/status/trigger geometry_msgs/PointStamped 'header: auto'" />

  <!-- store image description -->
  <node name="store_image_description"
	pkg="jsk_robot_startup" type="store_image_description.py" >
    <remap from="image" to="/dual_fisheye_to_panorama/output/compressed/throttled" />
    <rosparam param="_this_alywayw_returns_no_questions">["what does this image describe? and what unusual scene can be seen? If this image is  dark,  say  \"none\"."]</rosparam>
    <rosparam param="questions">["what does this image describe? and what unusual scene can be seen?"]</rosparam>
  </node>
  <!-- openai -->
  <group ns="openai">
    <node pkg="openai_ros" type="openai_node.py" name="openai" output="screen" >
      <rosparam command="load" file="$(arg openai_credentials_json)" />
    </node>
  </group>  
  <!-- vqa -->
  <include file="$(find jsk_perception)/launch/vqa.launch" >
    <arg name="host" value="133.11.216.90" />
    <arg name="port" value="9999" />
    <arg name="run_api" value="false" />
  </include>
  <node name="vqa_logger"
        pkg="jsk_robot_startup" type="mongo_record.py"
        respawn="true">
    <rosparam subst_value="true">
      topics:
      - /vqa/inference_server/result
    </rosparam>
  </node>

  <!-- google chat -->
  <include file="$(find google_chat_ros)/launch/google_chat.launch" >
    <arg name="use_helper" default="false" />
    <arg name="receiving_mode" value="pubsub" />
    <arg name="google_cloud_credentials_json" value="$(arg google_credentials_json)" />
    <arg name="project_id" value="spot-jsk-xc9u" />
    <arg name="subscription_id" value="chat-sub" />
  </include>

  <!-- gdrive_ros -->
  <include file="$(find gdrive_ros)/launch/gdrive_server.launch" >
    <arg name="settings_yaml" value="$(arg gdrive_credentials_yaml)" />
    <arg name="respawn" value="true" />
    <arg name="node_name" value="gdrive_ros" />
  </include>


</launch>

