<launch>
  <arg name="device_ublox" default="/dev/ublox_device" />

  <!-- gps -->
  <node
    pkg="ublox_gps"
    type="ublox_gps"
    name="ublox"
    output="screen"
    clear_params="true"
    respawn="false"
    respawn_delay="30">
    <rosparam subst_value="true">
      device: $(arg device_ublox)
      frame_id: gps
    </rosparam>
    <rosparam command="load" file="$(find jsk_spot_startup)/config/ublox_config.yaml" />
  </node>

  <!-- <include
      file="$(find gps_map_visualizer)/launch/demo.launch"
      >
      <arg name="launch_device_driver" value="false" />
      <arg name="nav_sat_fix_topic" value="/ublox/fix" />
      <arg name="gui" value="false" />
      <arg name="target_gps_frame" value="body" />
      <arg name="parent_of_gps_frame_id" value="vision" />
  </include> -->
</launch>