<?xml version="1.0"?>
<robot name="go1_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="use_navigation_unit" default="true"/>
    <xacro:arg name="DEBUG" default="false" />

    <xacro:include filename="$(find go1_description)/xacro/robot.xacro">
    </xacro:include>

    <link name="base_footprint"/>
    <joint name="base_static_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.3"/>
        <parent link="base_footprint"/>
        <child link="base"/>
    </joint>

    <!-- realsense mount -->
    <xacro:if value="$(arg use_navigation_unit)">
        <link name="d435_top_link"/>
        <joint name="d435_top_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0.120 0 0.115"/>
            <parent link="trunk"/>
            <child link="d435_top_link"/>
        </joint>

        <link name="laser"/>
        <joint name="laser_joint" type="fixed">
            <origin rpy="0 0 0" xyz="-0.08 0 0.05"/>
            <parent link="d435_top_link"/>
            <child link="laser"/>
        </joint>
    </xacro:if>

</robot>
